services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    networks:
      - app-network
    volumes:
      - .:/app
      - /app/node_modules

  redis:
    image: redis/redis-stack-server:latest
    volumes:
      - redis-data:/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis-data: